.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.btn{
  min-height: 30px;
  cursor: pointer;
  background-color: #0380f9;
  color: #fff;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 10px 15px;
  width: 120px;
  border: 1px solid #0380f9;
  transition:all .3s ease;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -ms-transition:all .3s ease;
  -o-transition:all .3s ease;
  font-weight: 600;
}

.btn.download{
  background-color: #11998e;
  border-color: #11998e;
}

.btn.download:hover{
 color: #11998e; 
}

.btn:hover{
  background-color: #fff;
  background-position: 0 0;
  color: #0380f9;
}

.resume {
    background-color: #fff;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #000;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    width: 100%;
  }
  
  .contacts{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
  }
  
  .section {
    width: 100%;
  }
  
  .sectionHeader{
    font-size: 20px;
    font-weight: 600;
    position: relative;
  }
  
  .sectionHeader::after{
    content: "";
    display: block;
    height: 2px;
    background-color: #000;
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  .listItemTitle{
    font-size: inherit;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .listItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .list {
    list-style: disc;
    padding-left: 20px;
    line-height: 1;
  }

  .sectionInfo {
    display: flex;
    justify-content: space-between;
  }


  .skillWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .skillItem{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
  }

